        body {
            margin: 0 auto;
            background-color: rgb(201, 232, 248);
            //background-color: #d2b9cd;
        }
        
        .integral {
            position: relative;
            // Animation bouton
            .button {
                position: relative;
                margin-left: 1%;
                margin-top: 2%;
                width: 15vh;
                height: 7vh;
                border: none;
                outline: none;
                color: black;
                background: #e5c0eb;
                cursor: url(http://www.rw-designer.com/cursor-extern.php?id=131642), auto;
                z-index: 0;
                border-radius: 10px;
                img {
                    margin-top: 5%;
                }
            }
            .button:before {
                content: '';
                background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
                position: absolute;
                top: -2px;
                left: -2px;
                background-size: 400%;
                z-index: -1;
                filter: blur(5px);
                width: calc(100% + 4px);
                height: calc(100% + 4px);
                animation: glowing 20s linear infinite;
                opacity: 0;
                transition: opacity .3s ease-in-out;
                border-radius: 10px;
            }
            .button:active {
                color: #e5c0eb
            }
            .button:active:after {
                background: transparent;
            }
            .button:hover:before {
                opacity: 1;
            }
            .button:after {
                z-index: -1;
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: #7a00ff;
                left: 0;
                top: 0;
                border-radius: 10px;
            }
            @keyframes glowing {
                0% {
                    background-position: 0 0;
                }
                50% {
                    background-position: 400% 0;
                }
                100% {
                    background-position: 0 0;
                }
            }
            //Animation Send Message
            .animation {
                position: absolute;
                opacity: 0;
                transform: translateY(-150%);
                margin-left: 65%;
                .animationClick {
                    background-image: url(../img/etoile.gif);
                    background-size: 60%;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    width: 30vw;
                    height: 40vh;
                    z-index: 10;
                }
            }
            header {
                .violet {
                    background-color: #a7759c;
                    &:hover {
                        background-color: #ee83e5;
                    }
                }
                .pink {
                    background-color: #7a00ff;
                    &:hover {
                        background-color: #ff00ea;
                    }
                }
                .collapsible {
                    display: flex;
                    color: white;
                    cursor: pointer;
                    padding: 5px;
                    width: 100%;
                    border: none;
                    text-align: left;
                    align-items: center;
                    outline: none;
                    font-size: 15px;
                    img {
                        width: 40px;
                        height: 40px;
                        margin-right: 2%;
                    }
                }
                .content {
                    padding: 0 18px;
                    display: none;
                    overflow: hidden;
                    background-color: rgb(201, 232, 248);
                    padding-top: 2%;
                    padding-bottom: 2%;
                    width: 100%;
                    img {
                        margin-left: auto;
                        margin-right: auto;
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        border: 3px solid pink;
                    }
                    .checkUser {
                        text-align: center;
                        margin-right: 1%;
                    }
                    .userOnline {
                        display: flex;
                    }
                }
            }
            audio {
                display: none;
            }
            @-moz-document url-prefix() {
                .message {
                    scrollbar-width: none;
                }
            }
            .message {
                margin-top: 1%;
                overflow: scroll;
                height: 65vh;
            }
            .message::-webkit-scrollbar {
                width: 0px;
                background: transparent;
            }
            .add {
                background-color: #a7759c;
                display: flex;
                position: fixed;
                bottom: 0;
                right: 0;
                left: 0;
                min-height: 20%;
                margin-top: 2%;
                padding-bottom: 5%;
                padding-left: 2%;
            }
        }
        
        .sendMessage {
            margin-top: 2%;
            padding-bottom: 5%;
            padding-left: 1%;
            width: 80%;
            min-height: 15%;
            display: flex;
            position: fixed;
            .add {
                background-color: #a7759c;
                bottom: 0;
                right: 0;
                left: 0;
                min-height: 10%;
                margin-top: 2%;
                padding-bottom: 5%;
                padding-left: 2%;
                textarea {
                    position: relative;
                    background-color: rgb(201, 232, 248);
                    margin-top: 2%;
                    resize: none;
                    width: 80%;
                    height: 30%;
                }
            }
            .upload {
                position: relative;
                margin-top: 2%;
                color: black;
                margin-left: 2%;
            }
        }
        
        .textGauche {
            display: flex;
            align-items: center;
            color: #ff00ea;
            margin-left: 1%;
            margin-right: 1%;
            border-bottom: 2px solid #7a00ff;
            button {
                margin-left: auto;
                max-height: 30px;
            }
            .textGaucheContent {
                width: 100%;
            }
        }
        
        .textDroite {
            display: flex;
            align-items: center;
            color: #7a00ff;
            ;
            margin-left: 1%;
            margin-right: 1%;
            border-bottom: 2px solid #ff00ea;
            button {
                margin-left: auto;
                max-height: 30px;
            }
            .textGaucheContent {
                width: 100%;
            }
        }